{% extends 'base.html.twig' %}

{% block header_title %}
    <h1 class="fw-bolder text-center mt-0 mb-0">Liste des tâches</h1>
{% endblock %}

{% block header_content %}
    <div class="text-center mt-2">
        <img class="img-fluid" src="{{ asset('img/todolist_content.jpg') }}" />
    </div>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="container px-4 px-lg-5 text-center">
        <a href="{{ path('app_task_create') }}" class="btn btn-info">Créer une tâche</a>
        </div>
    </div>


    <section>
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                {% for task in tasks %}
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Task details-->
                            <div class="card-body p-2">
                                <div class="text-center">
                                    <!-- Task badge-->
                                    <div class="text-end mb-2 p-0">
                                        {% if task.isDone %}<i class="bi bi-check-circle-fill text-success"></i>{% else %}<i class="bi bi-trash-fill text-danger"></i>{% endif %}
                                    </div>
                                    <!-- Task name-->
                                    <h5 class="fw-bolder"><a href="{{ path('app_task_edit', {'id' : task.id }) }}" class="text-black">{{ task.title }}</a></h5>
                                    <!-- Task reviews-->
                                    <div class="d-flex justify-content-center small">
                                        <p>{{ task.content }}</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Task actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center">
                                    
                                    <form action="{{ path('app_task_toggle', {'id' : task.id }) }}" class="mb-2">
                                        <button class="btn btn-success btn-sm pull-right">
                                            {% if not task.isDone %}Marquer comme faite{% else %}Marquer non terminée{% endif %}
                                        </button>
                                    </form>
                                    <form action="{{ path('app_task_delete', {'id' : task.id }) }}">
                                        <button class="btn btn-danger btn-sm pull-right">Supprimer</button>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>

                {% else %}
                    <div class="alert alert-warning" role="alert">
                        Il n'y a pas encore de tâche enregistrée. <a href="{{ path('app_task_create') }}" class="btn btn-warning pull-right">Créer une tâche</a>
                    </div>
                {% endfor %}
            </div>
{% endblock %}
