{% extends 'base.html.twig' %}

{% block header_title %}
    {% if mode == "create" %}
        <h1 class="fw-bolder text-center mt-0 mb-0">Créer une nouvelle tâche</h1>
    {% else %}
        <h1 class="fw-bolder text-center mt-0 mb-0">Modifier la tâche</h1>
    {% endif %}
{% endblock %}

{% block header_content %}
    <div class="text-center mt-2">
        <img class="img-fluid" src="{{ asset('img/todolist_content.jpg') }}" />
    </div>
{% endblock %}


{% block body %}
    <div class="row">
        {% form_theme form 'bootstrap_5_layout.html.twig' %}
        {{ form_start(form) }}
            {{ form_row(form.title, {
                'label': "Titre de la tâche",
                'attr': {
                    'placeholder': "Choisissez un titre"
                }})
            }}

            {{ form_row(form.content, {
                'label': "Contenu de la tâche",
                'attr': {
                    'placeholder': "Entrez une description"
                }})
            }}

            {{ form_row(form.actor, {
                'label': "Acteur de la tâche",
                'attr': {
                    'placeholder': "Choisissez qui doit réaliser la tâche"
                }})
            }}

            {{ form_row(form.progress, {
                'label': "Progression de la tâche (en %)",
                'attr': {
                    'placeholder': "Choisissez le % de progression"
                }})
            }}

            {{ form_row(form.deadLine, {
                'label': "Dead line de la tâche",
                'attr': {
                    'placeholder': "Date de réalisation maximale"
                }})
            }}

            <p class="text-center">
                <button type="submit" class="btn btn-success pull-right">
                    {% if mode == "create" %}Créer la tâche
                    {% else %}Modifier la tâche
                    {% endif %}
                </button>
            </p>
        {{ form_end(form) }}

        <p class="text-end"><a href="{{ path('app_task_list') }}" class="btn btn-primary">Retour à la liste des tâches</a></p>
    </div>
{% endblock %}
